<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--boostrap  -->
    <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../assets/js/bootstrap.bundle.js">
    <!-- icon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" type="text/css" rel="stylesheet" />

</head>

<body>
    <div class="container-fluid">
        <div class="row" style="height:730px">
            <div class="col-lg-6 bg-primary ">
                <div class="block_left">
                    <img class="logo" src="../assets/img/logo.png" alt="logo">
                    <img src="" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-flex flex-column justify-content-between align-items-center h-100">
                    <div class="form_login">
                        <div class="form_login_head">
                            <div class="title mb-1">Welcome back!</div>
                            <div class="description">Let's build someting great</div>
                        </div>
                        <div>
                            <form action="">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="ri-mail-line"></i>
                                    </span>
                                    <input type="email" class="form-control" placeholder="Email Address"
                                        aria-label="Email" aria-describedby="basic-addon1">
                                </div>

                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon2">
                                        <i class="ri-lock-line"></i>
                                    </span>
                                    <input type="password" class="form-control" placeholder="Password"
                                        aria-label="password" aria-describedby="basic-addon2">
                                </div>

                                <div>
                                    <input type="checkbox">
                                    <label for="">Remember me</label>
                                </div>
                                <a href="">Forgot Password?</a>
                                <button type="submit" class="btn btn-primary">Sign In</button>
                            </form>
                        </div>
                        <div>Or sign in with</div>
                        <div>
                            <button>Google</button>
                            <button>Facebook</button>
                        </div>
                    </div>
                    <div>Don’t have an account? <a href="">Sign Up</a></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>